<DOCTYPE html>

	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

<html data-ng-app>
<body>

	<form name="homeForm" data-ng-controller="User">

		<input class="full first" ng-model="username" name="user" type="text" placeholder="Username">

		<input class="full" ng-model="password" name="pass" type="text" placeholder="Password">

		<div><input ng-click="register(username,password)" class="half register button" type="submit" value="Register"><input class="half sign button" type="submit" value="Sign In"></div>

		<section class="form-controls">
			<section>
				<button></button>
				<p>Show Password</p>
			</section>
			<section>
				<button></button>
				<p>Agree to <a href="#">Terms</a></p>
			</section>
		</section>

	</form>
	
	<script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>

	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

	<script type="text/javascript" src="js/user.js"></script>

</body>
</html>