<DOCTYPE html>

	<head>
		<style type="text/css">
			li {
				float: left;
			}
		</style>
	</head>

<html ng-app="testApp">
<body>

	<div ng-controller="TestController">

		<input ng-model="query" type="text" value="PlayStation">

		<button ng-click="getData(query, 1)">Search</button>

		<ul>
			<li data-ng-repeat="res in results">{{ res.name }}</li>
		</ul>

		<ul>
			<li ng-repeat="page in pages"><button ng-click="getData(query, page)">{{ page }}</button></li>
		</ul>

	</div>
	
	<script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>

	<script type="text/javascript" src="test.js"></script>

</body>
</html>