
body {
	margin: 0;
	padding: 0;
	/*background: url('../assets/background.jpg');*/
	background-color: #9d2b3e;
	min-width: 640px;
	min-height: 960px;
	font-family: 'Varela Round', sans-serif;
	font-size: 26px;
	color: #fff;
}
input, button {
	font-family: 'Varela Round';
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a 			{ color: #fff; }
a:active 	{ color: #eee; }
a:visited	{ color: #fff; }

h1 {
	width: 98%;
	margin: 20px 1%;
}

li {
	list-style-type: none;
}

span {
	display: block;
}

.menu {
	display: block;
	width: 40%;
	height: 40px;
	padding: 40px 2.5%;
	margin: 0 2.5%;
	font-size: 36px;
	float: left;
}

.menu:nth-child(2) {
	text-align: right;
}




h1 {
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 80px;
}

.landing-button {
	transition: background-color .15s;
	width: 620px;
	display: block;
	background-color: #70C251;
	text-align: center;
	padding: 20px 0;
	margin: 80px auto;
}

.landing-button:active {
	background-color: #3a851e;
}

.landing-image {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	display: block;
}






input {
	font-size: 34px;
	padding: 0;
}

input:active {
	padding: 0;
}

input.button {
	color: #fff;
}

input.full {
	border: 0px;
	height: 100px;
	width: 100%;
	padding: 0 0 0 4%;
}

input.half {
	border: 0px;
	height: 100px;
	width: 49.99%;
	float: left;
}

input.first {
	border-bottom: 1px solid #000;
}

input.text {
	background-color: rgba(0,0,0,0);
}

input.text:hover {
	transition: color .2s;
	/*background-color: rgba(255,255,255, .08);*/
	/*box-shadow: 0px 0px 10px 25px rgba(255,255,255,.05) inset;*/
	color: rgba(255,255,255,.4);
}

input.text:focus {
	transition: background-color .4s, color .6s;
	background-color: rgba(255,255,255, .08);
	color: #fff;
	/*box-shadow: 0 0 8px 8px rgba(112,194,81,.7) inset;*/
}

.homeForm input.text:last-child {
	border-bottom: 1px solid #000;
}

input.cent {
	text-align: center;
	border-right: 1px solid #000;
}

input.register,
.productList li a,
.form-controls li,
.menu 			  			{background-color: rgba(0,0,0,.1); transition: background-color .4s;}

input.register:hover,
.productList li:hover,
.form-controls li:hover,
.menu:hover				 	{background-color: rgba(255,255,255,.2); transition: background-color .4s;}

input.register:active,
.productList li a:active,
.menu:active			 	{background-color: #797979;}

.sign 						{background-color: rgba(112,194,81,.7); transition: background-color .4s;}
.sign:hover					{background-color: rgba(112,194,81,1);}

.sign:active,
.form-controls li:active,
.form-controls li.selected:active 	{background-color: rgba(58,133,30,1);}


.homeForm div input {
	float: left;
}


.form-controls {
	width: 100%;
	margin-top: 20px;
}

.form-controls li {
	height: 30px;
	padding: 35px 30px;
}

.form-controls li.selected {
	transition: background-color .4s;
	background-color: rgba(112,194,81,.7);
	list-style-type: url('../assets/checkmark.png');
	list-style-position: inside;
}

.tooltip {
	height: 30px;
	margin: 0;
	padding-left: 50px;
	border-bottom: 1px solid #000;
	font-size: 22px;
	line-height: 30px;
	color: rgba(255,255,255, .4);
}



button {
	margin: 0 1%;
	width: 50%;
	height: 70px;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	background-color: rgba(255,255,255,.15);
	font-size: 34px;
}
button:active {
	transition: background-color .15s;
	background-color: rgba(100,100,100,1);
}




.productList,
.searchList {
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 20px 0;
	min-height: 600px;
	border-top: 1px solid #000;
}

.productList li,
.searchList li {
	height: 70px;
	border-bottom: 1px solid #000;
	cursor: default;
	overflow: hidden;
}
.productList li:hover,
.searchList li:hover 		{ background-color: rgba(255,255,255,.2); }
.productList li:active,
.searchList li:active 		{ background-color: rgba(255,255,255,.4); }

.productList li div,
.productList li a {
	height: 30px;
	padding: 20px 0;
	float: right;
	font-size: 30px;
	text-align: center;
}

.productList li div {
	width: 66%;
	line-height: 30px;
	text-overflow: clip;
}
.productList li a {
	width: 33%;
	text-decoration: none;
}

.productList li a.Watching {
	background-color: rgba(255,116,0,.3);
}
.productList li a.Sale {
	background-color: rgba(112,194,81,.7);
}

.productList li div.Watching {
	color: #FF7400;
	background-color: #FFEEC0;
}
.productList li div.Sale {
	color: #70C251;
	background-color: #D4FFC2;
}

.searchList li div {
	height: 30px;
	padding: 20px 0 0 20px;
}


























