<form>

	<a class="menu" href="#/list">&lt Back</a>

	<input class="full text" ng-model="query" name="query" type="text" placeholder="Product Name" ng-focus="focus=true" ng-blur="focus=false" autocomplete="off">

	<p class="tooltip" ng-show="focus" ng-hide="!focus">Enter a product name</p>

	<div>
		<input ng-click="search(query)" class="sign button full" type="submit" value="Search">
	</div>

	<ul class="searchList">
		<li ng-repeat="res in results" ng-click="addProduct(res.name, res.sku)"><div>{{ res.name }}</div></li>
		<li ng-click="nextPage()"><div style="color: #fff;">More Results</div></li>
	</ul>

</form>