<form class="homeForm" name="homeForm">

	<input class="full first text" ng-model="userInfo.email" ng-focus="emailFocus=true" ng-blur="emailFocus=false" name="user" type="text" placeholder="Email" autocomplete="off">

	<p class="tooltip" ng-show="emailFocus" ng-hide="!emailFocus">Enter your email address</p>

	<input id="Password" class="full text" ng-model="userInfo.password" ng-focus="passFocus=true" ng-blur="passFocus=false" name="pass" type="text" placeholder="Password" autocomplete="off">

	<p class="tooltip" ng-show="passFocus" ng-hide="!passFocus">Enter your password</p>

	<div>
		<input ng-click="auth.$login('password', userInfo)" class="half sign button" type="submit" value="Sign In">

		<input ng-click="auth.$createUser(userInfo.email, userInfo.password)" class="half register button" type="submit" value="Register">

		<div style="clear: both"></div>
	</div>

	<div style="clear: both"></div>

	<section class="form-controls">
		<ul>
			<li class="selected">Show Password</li>
			<li>Agree to Terms</li>
		</ul>
	<div style="clear: both;"></div>
	</section>

</form>